.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.footer__block {
    display: flex;
    flex-direction: column;
    width: 1140px;

}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer-top-section__right-row a {
    text-decoration: none;
    color: $secondary-text-color;
}

.footer-top-section {
    width: 33%;
}

.footer-top-section--2 {
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer-top-section--2,
.footer-top-section--3 {
    padding-left: 30px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}




.footer-menu__link {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-top-section--3 .footer-menu__list {
    margin-bottom: 15px;
}


.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.calculator {
    position: fixed;
    right: 0;
    bottom: 50%;
}


.calculator__image {
    height: 70px;
    width: 70px;
}