.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-navigation {
    display: flex;
    width: 1140px;
    // justify-content: space-between;
    // margin: 0 auto;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    width: 100%;
}

.nav-item {
    // padding-right: 15px;
}

.main-menu-list {
    display: flex;
    flex-direction: row;
    height: 90px;
}

.main-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
    // align-items: left;
    position: relative;
    // max-width: 150px;
    // padding-left: 10px;
}

.main-menu-item__link,
.main-menu-submenu__link,
.footer-menu__link,
.footer-submenu__link {
    text-decoration: none;
    color: $secondary-text-color;
}

.main-menu-item__link {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    // padding-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
}


// .main-menu-item__link::after {
//     content: "";
//     background-image: url(../img/icons.svg#vector-white);
//     background-repeat: no-repeat;
//     height: 14px;
//     width: 14px;
//     display: inline-block;
//     // margin-left: 10px;
// }

.main-menu-item:hover .main-menu-item__link {
    background-color: $secondary-color;
    color: $primary-text-color;
}

.main-menu-item__arrow {
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    margin-left: 10px;
    background-image: url(../img/icons.svg#vector-white);
}

.main-menu-item:hover .main-menu-item__arrow {
    background-image: url(../img/icons.svg#vector-dark);
}




// .main-menu-item__link:hover::after {
//     content: "";
//     background-image: url(../img/icons.svg#vector-dark);
// }

.main-menu-submenu__list {
    display: none;
    position: absolute;
    top: 90px;
    background-color: $secondary-color;

}

.main-menu-submenu__link {
    display: inline-block;
    color: $primary-text-color;
    width: 300px;
    padding: 15px;
}

.main-menu-submenu__link:hover{
    background-color: $primary-color;
    color: $secondary-text-color;
}

.main-menu-item:hover .main-menu-submenu__list {
    display: block;
    z-index: 10;
    // border-bottom: 1px solid $border-color;
    // border-left: 1px solid $border-color;
    // border-right: 1px solid $border-color;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}