.svg-Vector-dims {
    width: 10px;
    height: 10px;
}

.svg-address-dims {
    width: 26px;
    height: 32px;
}

.svg-calculator-dims {
    width: 512px;
    height: 512px;
}

.svg-email-dims {
    width: 30px;
    height: 24px;
}

.svg-facebook-dims {
    width: 37px;
    height: 37px;
}

.svg-search-dims {
    width: 32px;
    height: 32px;

}

.svg-search-dims path {
    fill: $secondary-color;
}

.svg-tel-dims {
    width: 32px;
    height: 30px;
}

.svg-time-dims {
    width: 32px;
    height: 31px;
}

.svg-twitter-dims {
    width: 36px;
    height: 36px;
}

.svg-youtube-dims {
    width: 37px;
    height: 37px;
}