.singele-news__wrapper {
    position: relative;
    width: 1140 - 410px;
    background-color: #fff;
    padding: 0 45px 30px 30px;
    border: 1px solid $border-color;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}

.single-news__image {
    position: absolute;
    top: 60px;
    right: -320px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.singele-news__header {
    color: $header-text-color;
    font-size: 32px;
}

.singele-news__line {
    fill: $header-text-color;
}

.singele-news__date {
    color: $body-text-color;
    font-size: 12px;
}

.single-news__body {
    margin-bottom: 30px;

    h2 {
        color: $header-text-color;
        font-size: 24px;
    }

    h3 {
        color: $header-text-color;
        font-size: 16px;
    }

    p {
        color: $body-text-color;
        line-height: 1.5em;
    }


    ul,
    ol {
        margin-left: 3em;
    }

    li {
        color: $body-text-color;
        line-height: 1.5em;

    }

    ul li {
        list-style-type: disc;
    }

    ol li {
        list-style-type: decimal;
    }
}