@import 'normalize';
@import 'mixins';
@import 'fonts';
@import 'variables';
@import 'swiper';
@import 'owl.carousel';
@import 'owl.theme.default';


body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

h1,
h2 {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    padding: 30px 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.dark {
    background-color: $primary-color;
    color: $secondary-text-color;
}

.text-dark {
    color: $primary-text-color;
}

.text-light {
    color: $secondary-text-color;
}

.light {
    background-color: $secondary-color;
    color: $primary-text-color;
}

@import 'header';
@import 'icons';
@import 'footer';
@import 'home';
@import 'production';
@import 'product-category';
@import 'single-product';
@import '404';
@import 'news';
@import 'contact';
@import 'post';
@import 'single-news';