@import 'normalize';
@import 'mixins';
@import 'fonts';
@import 'variables';

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    padding: 30px 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.dark {
    background-color: $primary-color;
    color: $secondary-text-color;
}

.text-dark {
    color: $primary-text-color;
}

.text-light {
    color: $secondary-text-color;
}

.light {
    background-color: $secondary-color;
    color: $primary-text-color;
}

@import 'header';
@import 'icons';
@import 'home';